:root {
  --main-bg-color: #FFFFFF;
  --blue: #f822e6;
  --element-bg-color: #ffffff;
  --hover-color: #ffffff;
  --hover-blue-color: #fbcffa;
  --border-color: rgba(192, 192, 199, 0.84);
  --gray: rgba(86, 86, 86, 0.84);
  --input-background-color: #ffffff;
  --from-message-color: #868787;
}
body {
  background-color: var(--main-bg-color);
  overflow-y: hidden;
  width: 100vw;
  box-sizing: border-box;
}
@media (min-width: 0) and (max-width: 350px) {
  * {
    font-size: 0.9rem !important;
  }
}
